################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NameMatcher/bin/Debug/netcoreapp3.1
/.vs/NameMatcher/v16
/NameMatcher/obj
